[submodule "tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux-resurrect"]
	path = dotfiles/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux-sensible"]
	path = dotfiles/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux-resurrect"]
	path = dotfiles/tmux/plugins/tokyo-night-tmux
	url = https://github.com/janoamaral/tokyo-night-tmux.git
